/* Universal Styles */

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: #fff;
  line-height: 1.4;
  color: #2C2B30;

}

.main-content {
  position: relative;
  top: 4.75rem; /* To offset for fixed header. */
}

.container {
  padding: 32px 24px;
}
 
h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-weight: 300;

}

.aside {
  width: 40%;
}

.aside img {
  height: auto;
  width: 35%;
  padding: 16px 16px;
}
.aside figcaption {
  width: 65%;
}
.title {
  padding: 32px;
}

.fig-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media only screen and (max-width: 540px) {
  .main-content {
    top: 2rem;

  }
  .container {
    padding: 32px 16px;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 64px;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
}

nav li {
  padding-right: 16px;
}

nav li a:hover {
  color: #3366BB;
}
.logo {
  display: flex;
  justify-content: flex-start;
  height: 32px;
  font-size: 1.5rem;
  color: #2C2B30;
}

.logo img {
  height: 2.5rem;
}

.compname-1 {
  font-weight: 900;
}

.compname-2 {
  font-weight: 300;
}
.desktop-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 540px) {
  .desktop-menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu {
    width: 100%;
    height: 64px;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* Banner Section */

.banner {
  background-color: rgba(218, 216, 209, 0.75); 
  width: 100%;

}
.enroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  width: 60%;
  height: 25rem;
  margin-right: 24px;

}

.headline {
  width: 40%;
}

.headline h1, h3{
  padding-bottom: 8px;
}

button {
  margin: auto 0;
  width: 80%;
  height: 2.5rem;
  font-size: 1.25rem;
  background-color: #566478;
  color: #DAD8D1;
  font-weight: 400;
}

button:hover {
  background-color: #AC6404;
}

@media only screen and (max-width: 540px) {
  .enroll {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  nav .container {
    padding-top: 0px;
  }
  .main-img {
    width: auto;
  }

  .headline {
    width: auto;
  }
}

/* Info Section */
.desktop-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-info a, .mobile-info a {
  color: #3366BB;
}
.mobile-info {
  display: none;
}

.info-sect-1 {
  width: 60%;
  height: auto;
  padding-right: 24px;
}

.info-sect-1 img {
  width: 100%;
  height: auto;
}

.info-sect-1 h2 {
  padding-bottom: 24px;
}
.desktop-info figure {
  border: 1px solid #DAD8D1;
  margin-bottom: 0.5rem;
}

figcaption > * {
  padding-bottom: 8px;
}

.info-sect-2 {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


blockquote {
  padding-bottom: 8px;
}

@media only screen and (max-width: 540px) {
  .desktop-info {
    display: none;
  }

  .mobile-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

  }

  figure {
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    height: 45%;
    margin: 0 auto;
    overflow: hidden;
  }

  figcaption {
    padding-left: 16px;
    padding-bottom: 64px;
  }

}
/* Course Section */

/* Exhibit Section */



/* Footer */

